<footer class="site-footer">
  <div class="site-footer-inner">
    <span><%= serviceName %></span>
    <span class="site-footer-separator" aria-hidden="true">|</span>
    <span>Render time <%= renderTime %></span>
  </div>
</footer>
